.border{
    border: 2px solid red;
    margin: 3px;
}

.justify_content{
    justify-content: center;
}

.align_items{
    align-items: center;
}

.flex{
    display: flex;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.p-1{
    padding: 10px;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #444; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
    border: 3px solid #1a1a1a; /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
}

/* Firefox */
* {
    scrollbar-width: thin; /* Scrollbar width (auto, thin, none) */
    scrollbar-color: #444 #1a1a1a; /* Scrollbar thumb and track color */
}
